@font-face {
	font-family: nova;
	src: url(assets/font/NovaSquare-Regular.ttf);
}

* {
	color: #303952;
	font-family: nova;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100vh;
	height: 100svh;
	width: 100vw;
}

body {
	align-items: center;
	background: -webkit-linear-gradient(45deg, #303952 10%, #85d8ce 90%);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
}

header {
	align-items: center;
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

main {
	align-items: center;
	border: 2px solid rgb(236, 240, 241, 0.8);
	background-color: rgb(236, 240, 241, 0.3);
	border-radius: 1.5rem;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 1rem;
	padding: 25px 0;
	width: 20rem;
}

input {
	border: 0;
	background-color: transparent;
	font-size: 1.3rem;
	font-weight: bold;
	text-transform: uppercase;
	outline: 0;
	width: 12rem;
}

input::placeholder {
	color: rgba(0, 0, 0, 0.2);
}

button {
	align-items: center;
	background-color: transparent;
	border: 0;
	display: flex;
	justify-content: center;
	outline: 0;
}

article {
	align-items: center;
	animation: grow 1000ms cubic-bezier(0.16, 0.41, 0.51, 0.95);
	display: flex;
	flex-direction: column;
	height: 15rem;
	justify-content: flex-end;
	gap: 2rem;
	width: 20rem;
}

article img {
	filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.2));
}

article div {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 15rem;
}

article div div {
	align-items: center;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

article div div p {
	font-size: 1.25rem;
	font-weight: bold;
	height: 1.25rem;
	width: 5rem;
}

a {
	align-items: center;
	border: 2px solid rgb(236, 240, 241, 0.8);
	background-color: rgb(236, 240, 241, 0.3);
	border-radius: 1.5rem;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	font-weight: bold;
	justify-content: center;
	min-height: 1rem;
	padding: 10px 0;
	text-decoration: none;
	width: 20rem;
}

@media screen and (max-width: 425px) {
	main {
		width: 80%;
	}
	header {
		width: 100%;
	}
	input {
		width: 68%;
	}
	article div {
		width: 80%;
	}
	a {
		width: 80%;
	}
}

@keyframes grow {
	0% {
		height: 0;
		opacity: 0;
	}
	50% {
		height: 15rem;
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
